@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* Scoped scrollbar for dark modal */
.dark-modal-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #444 #111;
}

/* Chrome, Edge, Safari */
.dark-modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.dark-modal-scroll::-webkit-scrollbar-track {
  background: #111;
  border-radius: 8px;
}

.dark-modal-scroll::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 8px;
}

.dark-modal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
